<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django en Español</title>

    <!-- Enlace link de flowbite css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
</head>
<body>
    <div class="container mx-auto h-screen flex flex-col justify-center">
        <p class="text-4xl text-gray-900 dark:text-white text-center">¡Django en Español!</p>
        <p class="text-justify text-gray-500 dark:text-gray-400">Este repositorio está dedicado a la comunidad de Django en español. Aquí, los miembros de la comunidad pueden compartir sus aportes, ideas y colaborar en proyectos relacionados con Django sin ningún problema. <a href="https://github.com/DjangoEsp/Web" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver repositorio</a></p>
    </div>
    
    
    <!-- Enlace script de flowbite css-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>